
:root{
    --clr-white: hsl(0, 0%, 100%);
    --slate-300: hsl(212, 45%, 89%);
    --slate-500: hsl(216, 15%, 48%);
    --slate-900: hsl(218, 44%, 22%);

    --ff-sans: 'Outfit', sans-serif;
    --fw-normal: 400;
    --fw-bold: 700;
}

body {
    background: var(--slate-300);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.container{
    background:var(--clr-white);
    width: 38vh;
    height: 60vh ;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;
    margin: 15vw auto;
}

.qr{
    margin: 3px;
    padding: 5px;
    align-self: center;
}

.qr img {
    width: 95%;
    height: 95%;
    padding: 2.5%;
    border-radius: 20px;
}

.container h1{
    text-align: center;
    font-size: 1.3rem;
    margin-left: 25px;
    margin-right: 25px;
}

.container p{
    text-align: center;
    font-size: 1rem;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

.text{
    padding: 5px;

}

.text h1 {
    font-family: var(--ff-sans);
    font-weight: var(--fw-bold);
    font-size: 1.5rem;
    color: var(--slate-900);
    margin-top: 2px
}

.text p {
    font-family: var(--ff-sans);
    font-weight: var(--fw-normal);
    font-size: 0.98rem;
    color: var(--slate-500);
    margin-top: 2px;
    padding: 0 15px;
}
