
:root {
    --clr-white: hsl(0, 0%, 100%);
    --slate-300: hsl(212, 45%, 89%);
    --slate-500: hsl(216, 15%, 48%);
    --slate-900: hsl(218, 44%, 22%);

    --ff-sans: 'Outfit', sans-serif;
    --fw-normal: 400;
    --fw-bold: 700;
}

body {
    background: var(--slate-300);
    font-family: var(--ff-sans);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    margin: 0;
    padding: 0;
}

.container {
    background: var(--clr-white);
    width: 90%; 
    max-width: 300px; 
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 1.5rem;
}

.qr img {
    width: 100%; 
    border-radius: 10px;
    height: auto; 
}

.text{
    text-align: center;
    margin: 0 auto;
    padding: 0 0.1rem;
    max-width: 350px; 
}

.text h1 {
    font-weight: var(--fw-bold);
    font-size: 1.5rem;
    color: var(--slate-900);
    max-width: 350px;
}

.text p {
    font-weight: var(--fw-normal);
    font-size: 1rem;
    color: var(--slate-500);
    margin: 0;
    line-height: 1.5;
}

.attribution {
    font-size: 0.8rem;
    text-align: center;
    margin-top: 1rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width: 600px) {
    .container {
        padding: 1rem;
    }

    .text h1 {
        font-size: 1.2rem; 
    }

    .text p {
        font-size: 0.9rem;
    }
}
